{% extends "layout.html" %}

{% block content %}
    <h2>Thank you for teaching me about...</h2>
    
    <h1 style="font-weight: bold; font-size: 2.5em; color: #2C3E50; text-align: center; margin-top: 0.5rem; margin-bottom: 0.5rem;">{{ animal }}</h1>
    
    <p>I'll remember that for next time.</p>
    
    <div class="button-grid">
        <!-- NEW BUTTON ADDED HERE -->
        <a href="{{ url_for('teach_me', animal=animal) }}" class="btn">Help me beat the next player. Please teach me about {{ animal | title }}!</a>

        <a href="{{ url_for('add_questions', animal=animal) }}" class="btn">You know about {{ animal | title }}, please suggest better questions that I can ask.</a>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Play Again</a>
    </div>
{% endblock %}
