{% extends "layout.html" %}

{% block content %}
    <h2>Thank you!</h2>
    <h1 class="glow-text">I've learned about the {{ animal }}.</h1>
    <p>I'll remember that for next time.</p>
    
    <div class="button-grid">
        <!-- NEW BUTTON ADDED HERE -->
        <a href="{{ url_for('teach_me', animal=animal) }}" class="btn">You know about {{ animal | title }}, right? Teach me!!!</a>

        <a href="{{ url_for('add_questions', animal=animal) }}" class="btn">Add better question about {{ animal | title }}</a>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Play Again</a>
    </div>
{% endblock %}
